body{
  background-image: url(/Users/cesar/epicodus/independent-projects/programming-language-suggester/img/landscape.jpeg);
  background-repeat: no-repeat;
  background-size: 1500px 1500px;
}

#result {
  display:none;
}

.btn {
  display:block;
  margin-top:5%;
  margin-bottom:10%;
}
